vim/bundle
vim/.netrwhist
zsh.theme/

# backup files
*~

# swap files
*.swp

# the directories vim needs
vim/backups
vim/swaps
vim/undo

# sbt
sbt/0.13/staging
sbt/0.13/plugins/project
sbt/0.13/plugins/target
sbt/boot/
