# backup files
*~

# swap files
*.swp

# temporary directory
/tmp/

# Vim
vim/plugged/*
vim/swaps/*
!vim/swaps/.gitignore
vim/undo/*
!vim/undo/.gitignore
vim/backups/*
!vim/backups/.gitignore
vim/.netrwhist

# Emacs
emacs.d/*
!emacs.d/init.el

# Atom
atom/storage
atom/compile-cache
atom/dev
atom/.npm
atom/.node-gyp
atom/.apm
atom/projects.cson
atom/packages

# Sbt
sbt/*
!sbt/0.13
sbt/0.13/*
!sbt/0.13/global.sbt
!sbt/0.13/plugins
sbt/0.13/plugins/*
!sbt/0.13/plugins/plugins.sbt
