"*":
  Zen:
    typewriter: true
    width: 74
  "autocomplete-plus": {}
  core:
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    fontFamily: "Hack"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "16cdba16-a2b1-eff3-7d6f-92f60c2fcfc9"
  "fuzzy-finder": {}
  minimap: {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-surround": {}
  welcome:
    showOnStartup: false
