"*":
  Zen: {}
  "autocomplete-plus": {}
  core:
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Hack"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "16cdba16-a2b1-eff3-7d6f-92f60c2fcfc9"
  "fuzzy-finder": {}
  minimap: {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-surround": {}
  welcome:
    showOnStartup: false
